<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app" v-cloak>
    <h1 v-if="show">
      {{ text.toUpperCase() }}
    </h1>
    <h2 v-else>another text</h2>

    <a :href="'https://' + link">link</a>

    <input type="text" v-model="text">

    <button @click="text += 'aaa'">add</button>

    <ul>
      <li v-for="(user, index) in users"
          :key="index"
          @click="userClick(user)">
        {{user}}
      </li>
    </ul>

    <div>
      {{ counter }}
    </div>
    <button @click="increaseCounter">increase</button>
    <br>
    <br>
    <h4 :style="{'color': accent, 'font-size': size + 'px'}">some text</h4>
    <button @click="accent = 'red'">accent</button>
    <button @click="size++">add</button>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>
